@inherits LayoutComponentBase

<ul>
  <li><NavLink href="" Match="NavLinkMatch.All">Todo List</NavLink></li>
  <li><NavLink href="stats">Stats</NavLink></li>
</ul>

@Body

<div id="blazor-error-ui" data-nosnippet>
  An unhandled error has occurred.
  <a href="." class="reload">Reload</a>
  <span class="dismiss">🗙</span>
</div>