@page "/"
@page "/todos"
@inherits ViewModelComponentBase<TodoViewModel>

<h3>Todo List</h3>

<input @bind="ViewModel.NewItemTitle" placeholder="New todo" />
<button
  @onclick="() => ViewModel.AddItemCommand.Execute(null)"
  disabled="@(!ViewModel.AddItemCommand.CanExecute(null))">
  Add
</button>
<button
  @onclick="ViewModel.LoadTodosCommand.Execute">
  Load Todos
</button>

<ul>
  @foreach (var item in ViewModel.Items)
  {
    <li>
      <input
        type="checkbox"
        checked="@item.IsComplete"
        @onchange="() => ViewModel.ToggleCompleteCommand.Execute(item)" />
      @item.Title
    </li>
  }
</ul>
